<div id="Banner" class="banner">
    <div class="div-block-2">
      <div class="banner-wrap">
        <div class="notice-text">{{ texts.-5be4c46e }}<a href="{{ links.56854c7f }}" class="white-link">{{ texts.60030ec4 }}</a>
        </div>
      </div>
    </div>
  </div>