<div class="header-section">
      <div class="container-flex"><img src="{{ images.20dfe135.url }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;500px&quot;}]" sizes="(max-width: 767px) 100vw, 500px" alt="{{ images.20dfe135.alt | trim | escape }}" class="cursive-text">
        <div class="title-wrap-centre">
          <h1 class="w-basic-heading header-h1">{{ texts.-64104400 }}<span class="text-span"><br></span></h1>
        </div>
      </div>
    </div>